<!DOCTYPE html>
<html>
<head>
    <title>App</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        {{{ body }}}
    </div>
</body>
<html>