<!DOCTYPE html>
<html>
<head>
    <title>App</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="/">
                        Heroku app
                    </a>
                </nav>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-5d">
        {{{ body }}}
    </div>
</body>
<html>