<p class="mb-3">Records from Postress database connected to salesforce via 
    <a href="https://devcenter.heroku.com/articles/heroku-connect-database-tables">heroku-connect</a>
</p>

<ul class="list-group">
    {{#each records}}
        <li class="list-group-item">{{ this.name }}</li>
    {{/each}}
</ul>   