<div class="row">
    <div class="col">
        <div class="list-group">
            {{#each users}}
                <a class="list-group-item list-group-item-action" href="/user/{{ this.id }}">{{this.email}}</a>
            {{/each}}
        </div>
    </div>
</div> 
