<div class="row mb-5">
    <div class="col">
        {{#if connection }}
            <p>You are logged in</p> 
        {{else}}
            <a class="btn btn-primary" href="/oauth">Oauth login</a>
        {{/if}}
        
    </div>
    <div class="col">
        {{#if connection }}
            <p>Instance Url: {{connection.instanceUrl}}</p>
            <p>User id: {{ connection.userId }}</p>
            <p>Organization id: {{ connection.orgId }}</p>
        {{/if}}
    </div>
</div>

<div class="row">
    <div class="col">
        <button id="accounts" class="btn btn-secondary">Get Accounts</button>
    </div>
</div>

<div class="row" id="result"></div>


<script>

    const button = document.getElementById('accounts');

    button.addEventListener('click', function(e) {
        fetch('/sfrestapi/accounts')
        .then(res => {
            return res.json();
        })
        .then((res) => {
            console.log(res)
            let item = '';
            res.response.forEach(function (record) {
                item += '<div class="card col col-3">' + 
                            '<div class="card-body">'+
                                '<h5 class="card-title">'+record.Name+'</h5>'+
                                '<h6 class="card-subtitle mb-2 text-muted">'+record.Phone+'</h6>'+
                                '<p class="card-text">'+ record.Description +'</p>'+
                            '</div>' +    
                        '</div>';
            });
            document.getElementById('result').innerHTML = item;
        })
        .catch(function(error) {
            console.log(error);
        });
    })

</script>