<div class="row">
    <div class="col">
        {{#if connection }}
            <p>You are logged in</p> 
        {{else}}
            <a class="btn btn-primary" href="/oauth">Oauth login</a>
        {{/if}}
        
    </div>
    <div class="col">
        {{#if connection }}
            <p>Instance Url: {{connection.instanceUrl}}</p>
            <p>User id: {{ connection.userId }}</p>
            <p>Organization id: {{ connection.orgId }}</p>
        {{/if}}
    </div>
</div> 
