<div class="row mb-5">
    <div class="col">
        {{#if connection }}
            <p>You are logged in</p> 
        {{else}}
            <a class="btn btn-primary" href="/oauth">Oauth login</a>
        {{/if}}
        
    </div>
    <div class="col">
        {{#if connection }}
            <p>Instance Url: {{connection.instanceUrl}}</p>
            <p>User id: {{ connection.userId }}</p>
            <p>Organization id: {{ connection.orgId }}</p>
        {{/if}}
    </div>
</div>

<div class="row">
    <div class="col">
        <button id="accounts" class="btn btn-secondary">Get Accounts</button>
    </div>
    <div id="result" class="col"></div>
</div>


<script>

    const button = document.getElementById('accounts');

    button.addEventListener('click', function(e) {
        fetch('/sfrestapi/accounts')
        .then(res => res.json())
        .then((res) => {
            console.log(res);
            let list = '';
            res.response.forEach(function (record) {
                list += '<li class="list-group-item">' + record.Name + '</li>';
            });
            list = '<ul class="list-group">' + list + '</ul>';
            document.getElementById('result').innerHTML = list;
        })
        .catch(function(error) {
            document.getElementById('result').innerHTML = error.error;
            console.log(error);
        });
    })

</script>