<div class="row">
    <div class="col">
        <ul class="list-group">
            {{#each todos}}
                <li class="list-group-item pl-3">
                    <div class="form-group form-check">
                        <input type="checkbox" {{#if this.completed }} checked {{/if}} class="form-check-input" id="checkbox_{{ this.id }}">
                        <label class="form-check-label" for="checkbox_{{ this.id }}">{{ this.title }}</label>
                    </div>
                </li>


            {{/each}}
        </ul>

        {{#if not_found }}
            <div class="alert alert-info" role="alert">
                No todos found
            </div>
        {{/if}}
    </div>
</div>


