<div class="row">
    <div class="col">
        <ul class="list-group">
            {{#each todos}}
                <li class="list-group-item pl-3">
                    <input type="checkbox" {{#if this.completed }} checked {{/if}} id="{{ this.id }}"  />
                    {{ this.content }}
                </li>
            {{/each}}
        </ul>

        {{#if not_found }}
            <div class="alert alert-info" role="alert">
                No todos found
            </div>
        {{/if}}
    </div>
</div>


